<%- include('nav.ejs') %>
<form action="handle-form" method="POST">
        <label for="name">Enter name </label>
        <input type="text" name="name">
        <button type="submit">Add</button>
</form>
<%- include('end.ejs') %>